<!DOCTYPE html>
<html>

<head>
  <title>Create a New Post</title>
</head>

<body>
  <h1>Create a New Post</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Post</button>
  </form>
  <a href="{% url 'post_list' %}">Cancel</a>
</body>

</html>
